body {
    margin-top: 60px;
    text-shadow: 1px 1px 1px lightgray;

    /* background-color: #292b2c; 
    color: whitesmoke;*/
}

.list-group-item {
    border: none;
    padding: 0px;
    margin: 5px 0px;
}